%h1 Welcome to Funny Comics
%p
  Where all the comics made by
  %b Funny Comics Inc
  are.
%p
  Also see are comics at
  = link_to "Two And Bellow", "https://twoandbelow.ttfh.co/categories/2?about=Comics"
