.topnav
  %a{:href => "home.html"} Home
  %a{:href => "comics.html"} comics
  %a{:href => "prices.html"} comic pries
  %a.active{:href => "about.html"} About
%h1 About Funny comics
%p Mango the maskcot
%img{:src => "mango.jpg"}/
%p funny comics has fun and not volictent comics for kids under 5
= link_to 'Two And below', 'https://twoandbelow.ttfh.co', target: '_blank'
