.topnav
  %a{:href => "home.html"} Home
  %a.active{:herf => "comics.html"} comics
  %a{:href => "prices.html"} comic pries
  %a{:href => "about.html"} About
%h1 Comics
%ul{:style => "list-style-type:square"}
  %li killer toilets
  %li killer toilets the epic battle
  %li killer toilets the new master part 1
  %li killer toilets the new master part 2
  %li killer toilets vs mobvilla part 1
%h5 Thats the end of the Killer toilets
%p there is no killing in the comic
%ul{:style => "list-style-type:triangle"}
  %li fire dude
  %li fire dude v.s unknows minoins
  %li fire dude back throw time part 1
  %li fire dude back throw time part 2
  %li Fire dude Heros renite part 1
  %li Fire dude orgin story
  %li Fire dude vrs ender dragon
