.topnav
  %a.active{:href => "home.html"} Home
  %a{:href => "comics.html"} Comics
  %a{:href => "prices.html"} comic pries
  %a{:href => "about.html"} About
%h1 Funny comics
%h4 Where all the good comics are made
%h7 All the best comic makers work here to make the most awesome comics ever
