.topnav
  %a{:href => "home.html"} Home
  %a{:href => "comics.html"} comics
  %a.active{:href => "prices.html"} comic pries
  %a{:href => "about.html"} About
%h1 Comic Prices
%ul{:style => "list-style-type:square"}
  %li killer toilets
  %li killer toilets the epic battle 50 cents
  %li killer toilets the new master part 1 50 cents
  %li killer toilets the new master part 2 50 cents
  %li killer toilets vs mobvilla part 1 50 cents
  %li fire dude 50 cents
  %li fire dude v.s unknows minoins 50 cents
  %li fire dude back throw time part 1 50 cents
  %li fire dude back throw time part 2 50 cents
  %li Fire dude Heros renite part 1 50 cents
  %li Fire dude orgin story 50 cents
  %li Fire dude vrs ender dragon 50 cents
